*.pyc
*.idea/*
*.DS_Store

# folder used by virtualenv
env
.env

# specific folders
temp

# specific files
development.json
sandbox.json
**/development.json
**/sandbox.json
**/snippet.py

# ignore info from all dependencies
*.dist-info
*.egg-info
venv/*
dist
build
